/*
* SPDX-FileCopyrightText: © 2024 Josef Hahn
* SPDX-License-Identifier: AGPL-3.0-only
*/

.klv_label__header {
    font-size: 1.3em;
}

.klv_label__small {
    font-size: 0.8em;
    opacity: 0.8;
}

.klv_label__highlighted {
    color: var(--klv-label-highlighted-fg-color);
}

.klv_label__warning {
    color: var(--klv-label-warning-fg-color);
}

.klv_label__error {
    color: var(--klv-label-error-fg-color);
}

.klv_sidebar {
    background: #69b2fb11;
}

.klv_head_bar {
    background: #69b2fb22;
    padding: 0.2rem;
}

.klv_head_bar.klv_head_bar__failed {
    background: #fb69b222;
}

.klv_head_bar.klv_head_bar__successful {
    background: #69fbb222;
}

.klv_head_bar.klv_head_bar__successful_with_warning {
    background: #c2a95822;
}

.klv_head_bar_title {
    padding: 0.2rem;
}

.klv_sidebar_collapse_expand_button {
    opacity: 0.4;
}

.klv_button_link label {
    color: var(--klv-link-fg-color);
    text-decoration: underline;
}

.klv_image_zoom_out_button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.klv_image_zoom_in_button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
