.input-select{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    border: black 1px solid;
    background-color: rgb(201, 201, 201);
    border-radius: 20px;
    padding: 5px;
    font-size: 18px;
}
.button__for-formatting{
    width: 20%;
}
.header{
    display: flex;
    justify-content: space-between;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 99%;
    margin-top: 30px;
}

.input-for-input{
    border: 1px solid #ccc;
    padding: 10px;
    width: 99%;
    height: 200px;
    overflow-y: scroll;
}

.button-styling{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px; 
}
