.sidebar-logo-container img {
  width: 180px;
}

span.sidebar-brand-text span[style] {
  font-size: 60% !important;
  margin-left: 40px;
}

.sidebar-drawer {
  max-width: 16em;
}

div.content {
  width: unset;
  max-width: 60em;
}
