.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    background-color: gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    transition: 0.3s;
    opacity: 100%;
}

.card-eliminate{
    transition: 0.3s;
    height: 0;
    opacity: 0%;
    /* display: none; */
}

.w-70{
    width: 70%;
}

.create-form{
    margin: 0 auto;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-text{
    color: red;
}

.div-for-button{
    width: 100%;
    justify-content: center;
    display: flex;
}