[project]
name = "dcscope"
authors = [
    # In alphabetical order.
    {name = "Paul Müller"},
]
maintainers = [
    {name = "Paul Müller", email="dev@craban.de"},
]
description = "User interface for deformability cytometry (DC)"
requires-python = ">=3.9, <4"
keywords = ["RT-DC", "DC", "deformability", "cytometry"]
classifiers = [
    'Operating System :: OS Independent',
    'Programming Language :: Python :: 3',
    'Intended Audience :: Science/Research',
]
license = "GPL-3.0-or-later"
dependencies = [
    "dclab[dcor,export,http,s3]>=0.64.0",
    "h5py>=2.8.0",
    "numpy>=1.21",  # CVE-2021-33430
    "pygments",
    "pyqt6",
    "pyqtgraph==0.13.6",
    "requests>=2.31.0",  # CVE-2023-32681
    "scipy>=1.10.0",  # CVE-2023-25399
]

version = "0.1.0"
