[build-system]
requires = ["scikit-build-core>=0.11", "pybind11"]
build-backend = "scikit_build_core.build"

[project]
name = "muoblpbindings"
version = "0.0.15"
readme = "README.md"
authors = [
  { name = "Jan Sznajd", email = "jasiek.sznajd@gmail.com" },
]
requires-python = ">=3.11"

[tool.scikit-build]
wheel.expand-macos-universal-tags = true
minimum-version = "build-system.requires"

[tool.cibuildwheel]
build-frontend = "build[uv]"
