[theme]
;<element>            = <foreground>  <background>  <attributes>
Normal                = ansi_223      ansi_235      normal
Selected              = ansi_223      ansi_237      normal
SelectedCursor        = ansi_223      ansi_235      bold+reverse

TitleBar              = ansi_142      -             bold+reverse
OrderBar              = ansi_246      ansi_234      -
OrderBarHighlight     = ansi_246      ansi_234      bold+reverse
HelpBar               = ansi_142      -             bold+reverse
Prompt                = ansi_214      -             bold+reverse
NoticeInfo            = -             -             bold
NoticeLoading         = -             -             bold
NoticeError           = ansi_167      -             bold
NoticeSuccess         = ansi_142      -             bold

CursorBlock           = ansi_223      -             -
CursorBar1            = ansi_142      -             -
CursorBar2            = ansi_167      -             -
CursorBar3            = ansi_142      -             -
CursorBar4            = ansi_214      -             -

CommentAuthor         = ansi_142      -             -
CommentAuthorSelf     = ansi_142      -             -
CommentCount          = -             -             -
CommentText           = -             -             -
Created               = -             -             -
Downvote              = ansi_167      -             bold
Gold                  = ansi_214      -             bold
HiddenCommentExpand   = ansi_246      -             bold
HiddenCommentText     = ansi_246      -             -
MultiredditName       = -             -             bold
MultiredditText       = ansi_246      -             -
NeutralVote           = -             -             bold
NSFW                  = ansi_167      -             bold+reverse
Saved                 = ansi_167      -             -
Hidden                = ansi_214      -             -
Score                 = -             -             bold
Separator             = ansi_244      -             bold
Stickied              = ansi_214      -             -
SubscriptionName      = -             -             bold
SubscriptionText      = ansi_246      -             -
SubmissionAuthor      = ansi_142      -             -
SubmissionFlair       = ansi_167      -             -
SubmissionSubreddit   = ansi_214      -             -
SubmissionText        = -             -             -
SubmissionTitle       = -             -             bold
SubmissionTitleSeen   = -             -             -
Upvote                = ansi_142      -             bold
Link                  = ansi_109      -             underline
LinkSeen              = ansi_142      -             underline
UserFlair             = ansi_214      -             bold
New                   = ansi_214      -             bold
Distinguished         = ansi_167      -             bold
MessageSubject        = ansi_142      -             bold
MessageLink           = ansi_167      -             bold
MessageAuthor         = ansi_142      -             bold
MessageSubreddit      = ansi_214      -             -
MessageText           = -             -             -
