/* Increase visibility of splitters "---" */

[data-md-color-scheme="default"] .md-typeset hr {
    border-bottom-color: rgb(255, 110, 66);
    border-bottom-width: 1.5pt;
}

[data-md-color-scheme="slate"] .md-typeset hr {
    border-bottom-color: rgb(255, 110, 66);
    border-bottom-width: 1.5pt;
}

/* Highlight functions, classes etc. type signatures. Really helps to make clear where
   one item ends and another begins. */

[data-md-color-scheme="default"] {
    --doc-heading-color: rgb(230, 230, 230);
    --doc-heading-color-alt: rgb(240, 240, 240);
}
[data-md-color-scheme="slate"] {
    --doc-heading-color: rgb(25,25,33);
    --doc-heading-color-alt: rgb(33,33,44);
    --md-code-bg-color: rgb(38,38,50);
}

h3.doc-heading {
    /* NOT var(--md-code-bg-color) as that's not visually distinct from other code blocks.*/
    background-color: var(--doc-heading-color);
    border: solid var(--doc-heading-border-color);
    border-radius: 2pt;
    padding: 0pt 0pt 0pt 2.5pt;
}
h4.doc-heading, h5.heading {
    background-color: var(--doc-heading-color-alt);
    border-radius: 2pt;
    padding: 0pt 0pt 0pt 2.5pt;
}