[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "qairt-wrapper"
version = "1.0.1"
authors = [
  { name="linbaichuan", email="iamlbc2525@163.com" }
]
description = "A Python wrapper for Qualcomm QAIRT SDK"
readme = "README.md"
license = {text = "MIT"}  
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "numpy",
]
